@tailwind base;
@tailwind components;
@tailwind utilities;

    ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(27, 27, 27, 0.333);
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #161212;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #5555;
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: #d3d3d3;
  }